*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Jost", serif;
    list-style: none;
    text-decoration: none;
    
}

header{
    position: fixed;
    margin: 0;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10%;
    background: #1f1f1f;
    box-shadow: 0px  0px 10px rgb(0 0 0 / 10%)  ;
}
.logo img{
    max-width: 120px;
    height: auto;

}
.navmenu{
    display: flex;
}

.navmenu a{
    color: #edfff1;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 10px 20px;
    transition: all .42s ease;
}

.navmenu a:hover{
    color: #EE1c47;
}
.nav-icon{
    display: flex;
    align-items: center;
}
.nav-icon li{
    margin-right: 20px;
    color: #edfff1;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;    
}
.nav-icon li:hover{
    transform: scale(1.1);
    color: #EE1c47;
}

#menu-icon{
    font-size: 30px;
    color: #edfff1;
    z-index: 10001;
    cursor: pointer;
}
section{
    padding:  12%  10%;
}
.main-home{
    width: 100%;
    height: 100vh;
    background-image: url(image.png);
    background-position: center ;
    background-size: cover ;
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    align-items: center;
}
.main-text h3{
    color: #ffffff;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 500;
}
.main-text h1{
    color: #edfff1;
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px ;
}
.main-btn{
    display: inline-block;
    color: #edfff1;
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #edfff1;
    padding: 12px 25px;
    transition: all .42s ease;
}
.main-btn:hover{
    background-color: #edfff1;
    color: #111;
}
.center-text{
    display: flex;
    justify-content: space-around;

}
.center-text h2{
    color: #111;
    font-size: 30px;
    text-transform: capitalize; 
    margin-bottom: 30px;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px , auto));
    gap: 2rem;
}
.row{
    position: relative;
    transition: all .40s;
}
.row img{
    width: 100%;
    height: auto;
    transition: all .40s;
}
.row img:hover{
    transform: scale(0.9);
}
.product-text{
    position: absolute;
    top: 13px;
    left: 13px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #27b727;
    padding: 3px 10px;
    border-radius: 2px;
}
.heart-icon{
    position: absolute;
    right: 0;
    font-size: 20px;
}
.heart-icon:hover{
    color: #EE1c47;
}
/* .prices{
    display: flex;
    justify-content: space-between;
} */
.prices h4{
    color: #111;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}
.prices p{
    color: #151515;
    font-size: 14px;
    font-weight: 600;
}
.btn{
    display: inline-block;
    color: #111;
    font-size: 16pxpx;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    transition: all .42s ease;
}
.btn:hover{
    color: #ffffff;
    background-color: #111;
}
.contact{
    background-color: #1f1f1f;
    /* padding-bottom: 0%;
    height: 100px; */
    padding-top: 5%;
    /* height: 110px; */

}
.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px , auto) );
    gap: 1rem;
}
.first-info img{
    max-width: 140px;
    height: auto;
}
.contact-info h4{
    color: #edfff1;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contact-info p{
    color: #edfff1;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
}
.contact-info p:hover{
    transform: scale(0.9);
}
.forth-info li{
    color: #edfff1;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    line-height: 30px;
}
.forth-info li:hover{
    transform: scale(1.3);
    font-size: 30px;
}
.end-text{
    background-color: #edfff1;
    text-align: center;
    padding: 20px;
}
.end-text p{
    color: #111;
    text-transform: capitalize;
}
@media(max-width:890px){
    header{
        padding: 20px 3%;
        transition:  .4s;
    }
}
@media(max-width:630px){
    .main-text h1{
        font-size: 30px;
        transition: .4s;
    }
    .main-text h3{
        font-size: 15px;
        transition: .4s;
    }
    
    .main-btn{
        font-size: 10px;
        padding: 8px 15px;
        transition: .4s;
    }
}
@media(max-width:750px){
    .navmenu{
        position: absolute;
        top: 100px;
        right: -1000%;
        width: 300px;
        height: 130vh;
        background: #1f1f1f;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;

    }
    .navmenu a{
        display: block;
        margin: 25px 0;
    }
    .navmenu.open{
        right: 0;
    }
}